//- out: ../news.html, pretty: true
extend _base_template

include _mixins

mixin page-header()
  +breadcrumbs("news__breadcrumbs", "", "Новости", "", ["index.html", "Главная"], ["Новости"], ["Политическое просвещение"])

mixin news-item(img, date, heading, desc)
  a(href="#").news-item
    img(src=img).news-item__image
    .news-item__date=date
    .news-item__heading=heading
    .news-item__desc=desc

mixin news-block-noslider()
  .news-block
    .site-block__container.container.adaptive-padding
      .news-block__news-items.news-items
        +news-item("images/image7.png", "26 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image6.png", "22 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image6.png", "21 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image5.png", "15 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image4.png", "10 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image3.png", "6 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image2.png", "2 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image1.png", "26 марта 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image7.png", "26 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image6.png", "22 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image6.png", "21 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image5.png", "15 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image4.png", "10 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image3.png", "6 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image2.png", "2 апреля 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
        +news-item("images/image1.png", "26 марта 2022", "Проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе»", "Первый заместитель председателя Комитета Совета Федерации по экономической политике Сергей Калашников подготовил проект закона «О внесении изменения в статью 21 Федерального закона «О рекламе».")
       
      +pagination()

block content
  +page-header
  +news-block-noslider
  +uncharted-block
