//- out: ../news_papers.html, pretty: true
extend _base_template

include _mixins

mixin page-header()
  +breadcrumbs("news-paper-main__breadcrumbs", "", "Печатная газета", "", ["index.html", "Главная"], ["Новости"], ["Партийная газета"])

mixin news-paper-item(image, heading, date)
  a(href="#" download).download-card
    .download-card__image-wrapper
      img(src=image).download-card__image
    .download-card__heading=heading
    .download-card__date=date
    .download-card__download.site-block__arrow-link.arrow-link Скачать PDF • 0.78 Мб
     img(src="images/icons/default-arrow.svg")
       
mixin news-paper-main-block()
  .news-paper-main-block
    .site-block__container.container.adaptive-padding
      +date-filter
      .news-paper-main-block__download-cards.download-cards
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
        +news-paper-item("images/museum.jpg", "Главный музей страны", "1 мая 2022")
      +pagination

block content
  +page-header
  +news-paper-main-block
  +uncharted-block
