//- out: ../publication.html, pretty: true
extend _base_template

include _mixins

mixin page-header()
  +breadcrumbs("publication__breadcrumbs", "publication__breadcrumbs__title", "В СФ обсудили ход реализации первого этапа программы инвестиционных квот для рыбохозяйственного комплекса", "publication__breadcrumbs__item", ["index.html", "Главная"], ["Новости"])
    img(src="images/publication-bg.jpg").publication__bg-image

mixin publication-block()
  .publication-block.adaptive-padding
    p Кремль не называет срок окончания специальной военной операции по защите Донбасса, заявил журналистам в понедельник пресс-секретарь президента РФ Дмитрий Песков, передает ТАСС. <b>«Нет, не озвучивается»</b>, - ответил он на вопрос, озвучивает ли Кремль предполагаемый или планируемый срок окончания спецоперации. 
    p При этом Песков не стал отвечать на уточняющий вопрос, доволен ли в целом президент РФ Владимир Путин ходом операции.
    p По его словам, российская специальная военная операция на Украине развивается по плану, будет завершена в срок и в полном объеме.
    p «Россия обладает самостоятельным потенциалом для ведения специальной военной операции на Украине, она развивается по плану, будет завершена в срок и в полном объеме», - <b>указал Песков</b>. 
    .strong-block
      | В марте текущего года мы открывали крупный животноводческий комплекс в Ростовском районе, а сегодня — в Ярославском. Ярославская область вновь подтвердила свою способность к развитию высокотехнологичного молочного животноводства
    p В случае принятия положительного решения пособие будет начислено с 1 апреля тем семьям, в которых в апреле ребенку исполнилось 8 лет. При подаче заявления до 1 октября 2022 года выплата также поступит за период с 1 апреля. В дальнейшем она будет назначаться со дня рождения ребенка, если заявление на нее подано в течение полугода с момента исполнения ему восьми лет, в остальных случаях - с даты обращения за ней.
    .video-insert
      .hover-video
        img(src="images/media6.jpg").hover-video__img.video-insert__video
      .video-insert__caption В моих архивах отыскалась тетрадь, о которой я помнил, что она должна быть, но так же затерялась, как и многие другие мои блокноты и записные книжки.
    h3.publication-block__heading В мае Пенсионный фонд начнет платить пособие на детей от 8 до 17 лет
    p В выплате могут отказать, если у семьи в собственности несколько квартир и жилая площадь на одного члена семьи превышает 24 кв. м, несколько домов и площадь на каждого члена семьи превышает 40 кв. м, больше одной машины, а если семья многодетная - больше двух. Не считается транспорт, который находится в розыске или под арестом, а также любое имущество (в том числе жилье), приобретенное за счет средств целевых субсидий.
    p В числе оснований для отказа в назначении выплаты - отсутствие доходов у трудоспособных членов семьи в течение всего расчетного периода, если для этого нет уважительных причин.
    .slider-insert
      .slider-insert__image-slider#publication-image-slider
        .image-slider__item
          .image-slider__card
            img(src="images/media5.jpg").image-slider__img.img-responsive
            .image-slider__number 1 / 4
        .image-slider__item
          .image-slider__card
            img(src="images/media6.jpg").image-slider__img.img-responsive
            .image-slider__number 2 / 4
        .image-slider__item
          .image-slider__card
            img(src="images/media5.jpg").image-slider__img.img-responsive
            .image-slider__number 3 / 4
        .image-slider__item
          .image-slider__card
            img(src="images/media6.jpg").image-slider__img.img-responsive
            .image-slider__number 4 / 4
        
      .slider-insert__caption Первые ведомства, отвечавшие за разведку, появляются в России еще в XVI веке.
    p Отсутствие дохода считается обоснованным, если человек долго лечился, был в армии или находился в местах лишения свободы, состоял на учете в центре занятости (но не более 6 месяцев). Не работать, а значит не иметь дохода могут родители-студенты в возрасте до 23 лет, единственный родитель, а также мать или отец в многодетной семье. Правило нулевого дохода не распространяется на женщину, которая шесть месяцев в течение расчетного периода была беременна, а также на одного из родителей, если он находился в отпуске по уходу за ребенком до трех лет, ухаживал за ребенком с инвалидностью или пожилым человеком.
    .image-insert
      img(src="images/image8.jpg").image-insert__image
      .image-insert__caption Одиночное фото с подписью
    p В числе оснований для отказа в назначении выплаты - отсутствие доходов у трудоспособных членов семьи в течение всего расчетного периода, если для этого нет уважительных причин.
    p То есть, необходимо, чтобы в течение года, за который считается семейный доход, хотя бы за небольшой период у взрослых членов семьи был заработок: зарплата, прибыль от предпринимательской деятельности, самозанятости, пенсия или стипендия. Если доход совсем отсутствовал, то <b>10 из 12 месяцев</b> должны быть закрыты уважительными причинами.
    p Отсутствие дохода считается обоснованным, если человек долго лечился, был в армии или находился в местах лишения свободы, состоял на учете в центре занятости (но не более 6 месяцев). Не работать, а значит не иметь дохода могут родители-студенты в возрасте до 23 лет, единственный родитель, а также мать или отец в многодетной семье. Правило нулевого дохода не распространяется на женщину, которая <b>шесть месяцев в течение расчетного периода была беременна</b>, а также на одного из родителей, если он находился в отпуске по уходу за ребенком до трех лет, ухаживал за ребенком с инвалидностью или пожилым человеком.

block content
  +page-header
  +publication-block
  +news-block
