//- out: ../visitor_rules.html, pretty: true
extend _base_template

include _mixins

mixin page-header()
  +breadcrumbs("visitor-rules__breadcrumbs", "", "Правила посещения", "", ["index.html", "Главная"], ["О Партии"], ["Программа"])

mixin aside-block()
  .aside-block.adaptive-padding.expandable.accordeon-item__hover-icon
    .aside-block__heading.expandable__heading Содержание
      .aside-block__accordeon-icon.accordeon-item__icon
    .aside-block__expandable__content.expandable__content
      ul.aside-block__list#table-of-contents
        +li-a("#", "aside-block__item") Для всех наших посетителей и партнеров очевидна наша приверженность качеству: в научной деятельности, в работе с коллекцией, в публикациях, в состоянии помещений, на нашем вебсайте, в сувенирной продукции. 
        +li-a("#", "aside-block__item") Для всех наших посетителей и партнеров очевидна наша приверженность качеству: в научной деятельности, в работе с коллекцией, в публикациях, в состоянии помещений, на нашем вебсайте, в сувенирной продукции. 
        +li-a("#", "aside-block__item") Для всех наших посетителей и партнеров очевидна наша приверженность качеству: в научной деятельности, в работе с коллекцией, в публикациях, в состоянии помещений, на нашем вебсайте, в сувенирной продукции. 
        +li-a("#", "aside-block__item") Мы последовательно придерживаемся принципов открытости и доступности.
        +li-a("#", "aside-block__item") Мы последовательно придерживаемся принципов открытости и доступности.

mixin our-values-block()
  .content__our-values
    .our-values__heading Наши ценности
    .our-values__list
      .list__item
        .list__heading Первый
        .list__content Планируя и осуществляя свою деятельность, мы уделяем основное внимание запросам нашей аудитории
      .list__item
        .list__heading Второй
        .list__content Планируя и осуществляя свою деятельность, мы уделяем основное внимание запросам нашей аудитории
      .list__item
        .list__heading Третий
        .list__content Планируя и осуществляя свою деятельность, мы уделяем основное внимание запросам нашей аудитории
      .list__item
        .list__heading Четвёртый
        .list__content Планируя и осуществляя свою деятельность, мы уделяем основное внимание запросам нашей аудитории
        
mixin tickets-block()
  .content__tickets.adaptive-padding
    .tickets__heading Для посещения музея нужно приобрести билет на конкретные дату и время.
    ul.tickets__list
      li.tickets__list-item Установить власть трудящихся, народно-патриотических сил;
      li.tickets__list-item Остановить вымирание страны, восстановить льготы для многодетных семей, воссоздать сеть общедоступных детских садов, обеспечить жильём молодые семьи;
      li.tickets__list-item Национализировать природные богатства России и стратегические отрасли экономики, доходы этих отраслей использовать в интересах всех граждан;
      li.tickets__list-item Вернуть в Россию из зарубежных банков государственные финансовые резервы, использовать их на экономическое и социальное развитие;
      li.tickets__list-item Сломать систему тотальных фальсификаций при проведении выборов;
      li.tickets__list-item Создать реально независимую судебную систему;
      li.tickets__list-item Осуществить срочную программу мер по борьбе с бедностью, ввести государственный контроль над ценами на товары первой необходимости; 
        
mixin faq-block()
  .content__faq.adaptive-padding
    .faq__accordeon.accordeon
      +faq-accordeon-item("Посетителям")
        p Мы активно ищем возможности сотрудничества с другими организациями и талантливыми людьми на местном, национальном и международном уровне, чтобы наши программы, публикации и мероприятия были более разнообразными, качественными и актуальными. 
      +faq-accordeon-item("Выставки")
        p Мы активно ищем возможности сотрудничества с другими организациями и талантливыми людьми на местном, национальном и международном уровне, чтобы наши программы, публикации и мероприятия были более разнообразными, качественными и актуальными. 
      +faq-accordeon-item("События")
        p Мы активно ищем возможности сотрудничества с другими организациями и талантливыми людьми на местном, национальном и международном уровне, чтобы наши программы, публикации и мероприятия были более разнообразными, качественными и актуальными. 
      +faq-accordeon-item("Образование")
        p Мы активно ищем возможности сотрудничества с другими организациями и талантливыми людьми на местном, национальном и международном уровне, чтобы наши программы, публикации и мероприятия были более разнообразными, качественными и актуальными. 
      +faq-accordeon-item("Третьяковка онлайн")
        p Мы активно ищем возможности сотрудничества с другими организациями и талантливыми людьми на местном, национальном и международном уровне, чтобы наши программы, публикации и мероприятия были более разнообразными, качественными и актуальными. 
    
mixin faq-accordeon-item(header)
  .faq__accordeon-item.accordeon-item.accordeon-item__hover-icon
    .faq__accordeon-item__heading.accordeon-item__heading=header
      .faq__accordeon-item__icon.accordeon-item__icon
    .faq__accordeon-item__content.accordeon-item__content
      .faq__accordeon-item__wrapper
        block
    
block content
  +page-header
  .vistor-rules-block.container.adaptive-padding
    +aside-block
    .vistor-rules-block__content
      .content__intro.adaptive-padding
        .content__p Рады сообщить, что Третьяковская галерея и ее малые музеи (Дом-музей Виктора Васнецова, Музей-квартира Аполлинария Васнецова, Музей Павла и Сергея Третьяковых) открыты для посетителей. 
        .content__p Запланируйте посещение заранее: посещение Третьяковской галереи проходит по сеансам. Сеанс — это 30-минутный интервал, когда вы можете зайти в музей, рекомендуемое время осмотра — 2 часа. Сеансная система также работает в Доме-музее Виктора Васнецова и Музее-квартире Аполлинария Васнецова, Музее Павла и Сергея Третьяковых, время осмотра музеев — до 45 минут.  
      +our-values-block
      +tickets-block
      +faq-block
